###
#AI agent files / directories that may show up from testing
###

# Generic
.opencode/

# Anthropic
CLAUDE.md
.claude/

# oh-my-opencode
.sisyphus/

# Python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
build/
.venv/
.env
